bentoml==1.0.20
fastapi==0.79.1
starlette==0.19.1
pydantic==1.10.13
click
Sphinx
coverage
flake8
pandas
numpy 
pathlib 
scikit-learn
imbalanced-learn
joblib
mlflow
dvc
transformers
PyJWT
python-dotenv
requests
pytest
