# local package
# -e .

# external requirements
click
coverage
#awscli>=1.29.0
flake8
pandas==2.0.3
#logging
numpy==1.24.4
scikit-learn==1.3.2
imbalanced-learn==0.12.3
joblib==1.4.2
#sys
#json

# Data ingestion ETL
apache-airflow[celery]==2.9.2
python-dotenv
psycopg2-binary
sqlalchemy
# sqlalchemy==2.0.30
# sqlmodel==0.0.19
sqlmodel
tqdm
pytest

# API
fastapi
uvicorn
pydantic
pyjwt