# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

# https://www.youtube.com/watch?v=R8_veQiYBjI&ab_channel=TechWorldwithNana

name: Python application

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

# DOCKER_HUB_PASS

permissions:
  contents: read

jobs:
  RoadAccidentsDatabaseIngestion:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python 3.12
        uses: actions/setup-python@v3
        with:
          python-version: "3.12"

      - name: Update pip
        run: |
          python -m pip install --upgrade pip

      - name: Install road_accidents_database_ingestion package 
        run: |
          python -m pip install -e python-packages/road_accidents_database_ingestion
    
      - name: Test road_accidents_database_ingestion package
        run: |
          pytest python-packages/road_accidents_database_ingestion/tests

      - name: Login to the Docker Hub
        uses: docker/login-action@v1
        with:
          username: roadaccidentsmlops24
          password: ${{ secrets.DOCKER_HUB_PASS }}

      - name: Build the road_accidents_database_ingestion Docker image
        uses: docker/build-push-action@v2
        with:
          context: ./python-packages/
          file: ./python-packages/airflowdb.Dockerfile
          push: false
          tags: roadaccidentsmlops24/airflowdb:latest, roadaccidentsmlops24/airflowdb:${{ github.run_number }}
  
  ModelApi:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python 3.12
        uses: actions/setup-python@v3
        with:
          python-version: "3.12"

      - name: Update pip
        run: |
          python -m pip install --upgrade pip
        
      - name: Install model_api package 
        run: |
          python -m pip install -e python-packages/model_api
      
      - name: Test model_api package
        run: |
          pytest python-packages/model_api/tests
  
      - name: Login to the Docker Hub
        uses: docker/login-action@v1
        with:
          username: roadaccidentsmlops24
          password: ${{ secrets.DOCKER_HUB_PASS }}

      - name: Build the model_api Docker image
        uses: docker/build-push-action@v2
        with:
          context: ./python-packages/model_api/
          push: false
          tags: roadaccidentsmlops24/model_api:latest, roadaccidentsmlops24/model_api:${{ github.run_number }}
          dockerfile: ./python-packages/model_api/Dockerfile
  
  GreenLightUi:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python 3.12
        uses: actions/setup-python@v3
        with:
          python-version: "3.12"

      - name: Update pip
        run: |
          python -m pip install --upgrade pip
        
      - name: Install green_light_ui package 
        run: |
          python -m pip install -e python-packages/green_light_ui
      
      - name: Test green_light_ui package
        run: |
          pytest python-packages/green_light_ui/tests
  
      - name: Login to the Docker Hub
        uses: docker/login-action@v1
        with:
          username: roadaccidentsmlops24
          password: ${{ secrets.DOCKER_HUB_PASS }}

      - name: Build the green_light_ui Docker image
        uses: docker/build-push-action@v2
        with:
          context: ./python-packages/green_light_ui/
          push: false
          tags: roadaccidentsmlops24/accidents_ui:latest, roadaccidentsmlops24/accidents_ui:${{ github.run_number }}
          dockerfile: ./python-packages/green_light_ui/Dockerfile
