# local package
#-e .

# external requirements
click
Sphinx
coverage
#awscli>=1.29.0
flake8
pathlib 
joblib
psycopg2-binary

# pour le modele
pandas
numpy
imblearn
scikit-learn==1.3.2
imbalanced-learn
mlflow

# pour l api
uvicorn
fastapi 
pydantic 
#logging
passlib
evidently
#pour test
pytest
httpx